body {
    margin: 0;
    padding: 0;
    background: #e74c3c;
}
.color {
    text-align: center;
    margin-top: 300px;
}
#hex {
    display: block;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.color button {
    background: none;
    outline: none;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    font-size: 24px;

}